/* ==========================================================================
   Author's custom styles
   ========================================================================== */
button{
    padding: 1px 6px;
}

#ImageContent
{
	position: relative;
	float: right;
	width: 14em;
	padding: 3em 2em 1.5em 2em;
     
	z-index: 0;
}

#primaryContent
{
	margin: 1.5em 4em 0em 14.25em;
	padding: 1.5em 3em 1.5em 3em;
}

.spiegazione
{

text-align:left;
width: 95% ;
line-height: 1.5em;
margin-bottom: 0em;
color:#000000;
padding: 5px;
border: 1px solid #0000FF;
border-top: 12px solid #0000FF;
border-radius: 4px;
box-shadow: 5px 5px 10px rgba(0,0,0,.5);

}



/* Results */

#Loading{
    display: none;
}



.enabled {
  color:white;
  background-color: #666;
  cursor:pointer;
}

.lista{
    font-size:11px;
    color:#000000;
    background-color: #FFFFFF;
    word-wrap: break-word;
    padding: 1px;
    margin: 1px;
    /*display: none;*/
    overflow:auto;
    max-height:600px;
}



a.opening {
    font-family: 'Oswald', Arial, sans-serif;
    display:block;
    background: url(bullet_blue.png) no-repeat 10px center #fff;
    padding:3px 30px;
    text-decoration:none;
    color:#2f3040;
    font-weight:bold;
    font-size:1.2em;
/*    border-bottom:1px solid #2f3040;
    border-left:1px solid #2f3040;
    border-right:1px solid #2f3040;*/
    }
  
a.opening:hover, a.active {
    color:#fff;
    background: url(bullet_gray.png) no-repeat 10px center #2f3040;
    }
.expanded {
    background:url(concrete_wall_3.png);
    padding:15px;
    font-size:0.9em;
    letter-spacing:-1px;
/*    border-bottom:1px solid #2f3040;
    border-left:1px solid #2f3040;
    border-right:1px solid #2f3040;*/
    }
.expanded p {
    padding-bottom:20px;
    }
.expanded .expanded {
    background:url(concrete_wall.png);
    padding:0;
    color:#fff;
    }
.expanded .expanded p {
    padding:15px;
    }
