

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#Intestazione {
    width: 90%;
}

#Risultati
{
overflow:hidden;
text-align:left;
width: 90% ;
border: thin solid;
clear: both;
padding-left: 10px;
}

#NotaiForm
{
    border: thin solid;
    margin: 10px;
    padding: 10px;
    
}

#VolumiForm
{
    border: thin solid;
    margin: 10px;
    padding: 10px;
}

.titolo
{
    float: left;
    margin-right: 20px;
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.count
{
    float: left;
    margin-right: 20px;
    font-size: 12px;
}

.group
{
    background-color: #CCCCCC;
    border:thin solid;
    margin:5px;
    padding:5px;
    float: left;
    width: 300px;
}

.notaioIntestazione
{
    
    background-color: #CCCCCC;
    color: #000;
    
}
.notaio
{
   margin: 5px;

}


.nav
{
    width: 40% ; 
/*    border: solid;
    border-width: 0px 1px 1px 1px;*/
    padding-bottom:5px;
    clear: both;
}

.enabled {
  color:white;
  background-color: #666;
  cursor:pointer;
}

.formfield
{
    width: 70%;
}




