/* ==========================================================================
   Author's custom styles
   ========================================================================== */



#secondaryContent
{
	padding: 0em 0em 0em 0em;
}



button{
    padding: 1px 6px;
}

#ImageContent
{
	position: relative;
	float: right;
	width: 14em;
	padding: 3em 2em 1.5em 2em;
     
	z-index: 0;
}

#primaryContent
{
	margin: -1em 4em 0em 10.25em;
	padding: 1.5em 3em 1.5em 3em;
}

.spiegazione
{

text-align:left;
width: 95% ;
line-height: 1.5em;
margin-bottom: 0em;
color:#000000;
padding: 5px;
border: 1px solid #0000FF;
border-top: 12px solid #0000FF;
border-radius: 4px;
box-shadow: 5px 5px 10px rgba(0,0,0,.5);

}

.intestazione
{
font-weight: bold;
}

.foglio{
    border: thin solid;
    border-collapse: collapse;
    
}

.foglio td, th {
border: 1px solid black;
padding:3px;
}





/* Results */

#LoadingLista{
    display: none;
}

#LoadingScheda{
    display: none;
}

.sezione{
    float: left;
    border: thin solid;
    margin: 1px;
    padding:1px;
}

.enabled {
  color:white;
  background-color: #666;
  cursor:pointer;
}

.lista{
    font-size:11px;
    color:#000000;
    background-color: #FFFFFF;
    word-wrap: break-word;
    padding: 1px;
    margin: 1px;
    /*display: none;*/
    overflow:auto;
    max-height:700px;
}

.linkScheda{
    list-style-image:url(images/letter.gif);
    text-decoration: underline;
    cursor: pointer;
}

a.opening {
    /*font-family:  Arial, sans-serif;*/
    display:block;
    background: url(images/folder_closed.gif) no-repeat 10px center #fff;
    padding:3px 30px;
    text-decoration:none;
    color:#2f3040;
    font-weight:bold;
    font-size:1.2em;
/*    border-bottom:1px solid #2f3040;
    border-left:1px solid #2f3040;
    border-right:1px solid #2f3040;*/
    }
  
 a.active {
    color:#2f3040;
    background: url(images/folder_open.gif) no-repeat 10px center #fff;
    }
.expanded {
    background:url(concrete_wall_3.png);
    padding-left: 45px;
    padding-top: 5px;
    font-size:1.2em;
    letter-spacing:-1px;
/*    border-bottom:1px solid #2f3040;
    border-left:1px solid #2f3040;
    border-right:1px solid #2f3040;*/
    }
.expanded p {
    padding-bottom:20px;
    }
.expanded .expanded {
    background:url(concrete_wall.png);
    padding:0;
    color:#fff;
    }
.expanded .expanded p {
    padding:15px;
    }
