<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8"" />
<title>Archivio di Stato di Roma - Progetto Imago II</title>
<meta name="keywords" content="ICRCPAL: Istituto Centrale per il Restauro e la Conservazione del Patrimonio Archivistico e Librario, Restauro, Biblioteca, conservazione, Digital Library, CFLR, Imago, ICPL, ICPAL, ICRCPAL" />
<meta name="description" content="ICRCPAL: Istituto Centrale per il Restauro e la Conservazione del Patrimonio Archivistico e Librario, Restauro, Biblioteca, conservazione, Digital Library, CFLR, Imago, ICPL,ICPAL, ICRCPAL" />
<link href="../common/style_icrcpal2.css" rel="stylesheet" type="text/css" />

<link href="css/main.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
</head>

<body>
<script id="templateSegnatura" type="text/template">
 
 <a class="opening" href="#" ><%= luogo %></a>
 <div class="expanded">
<% _.each(segnature, function(segnatura) { %> <li class="linkScheda"><strong><%= segnatura.cartella %>/<%= segnatura.foglio %>/<%= segnatura.sub %></strong></li> <% }); %>
</div>

</script>

<script id="templateScheda" type="text/template">
 <div style="width: 100%; overflow: hidden;border: thin solid;padding:3px;">
  <div style="width: 200px; float: left; border: thin solid;margin: 1px;">
<!--   <table border=1 style="border-collapse:collapse">
    <tr>
     <td>Luogo</td><td colspan=3><%= data.luogo %></td>
    </tr>
    <tr>
     <td>Segnatura</td><td><%= data.cartella %></td><td><%= data.foglio %></td><td><%= data.sub %></td>
    </tr>
        <tr>
     <td>Segnatura</td><td colspan=1,5><%= data.cartella %></td><td><%= data.foglio %></td>
    </tr>
   </table>-->
    <strong>Luogo: </strong><%= data.luogo %><br>
  <strong>Segnatura: </strong><%= data.cartella %>/<%= data.foglio %>/<%= data.sub %><br>
  <strong>Unità </strong><%= data['numero UD'] %>/<%= data['suffisso UD'] %><br>
  </div>
  <div style="width: 250px; float: left; border: thin solid;margin: 1px;">
    <strong>Tecnica di esecuzione: </strong><%= data['supporto/tecnica di esecuzione'] %><br>
  <strong>Scala: </strong><%= data.scala %><br>
  </div>
   <div style="width: 200px; float: left; bborder: thin solid;margin: 1px;"
    <strong>Luogo: </strong><%= data.luogo %><br>
  <strong>Segnatura: </strong><%= data.cartella %>/<%= data.foglio %>/<%= data.sub %><br>
  </div>
  <div style="clear: both">
    <% _.each(fogli, function(foglio) { %> <li > <%= foglio.intestazione %></li> <% }); %>
  </div>
 

 </div>

</script>













<script id="templateCounter" type="text/template">
<div class="count"><strong>Nomi : </strong><%= count %></div>
</script>



<script id="templateVolumiCollButton" type="text/template">
<button id="VolumiCollButton">Cerca volumi collegati</button>
</script>

<script id="templateFrancoisCollButton" type="text/template">
 <button id="FrancoisCollButton">Vedi Francois</button>   
 </script>

<div  id="outer">
	
  <div id="header"> 
    <h1>IMAGO</h1>
    <h2>Disegni e Piante</h2>
  </div>
  <div id="banner"> 
    <p align='right'> <a style="font-size: 10pt; color: yellow" href="http://www.archiviodistatoroma.beniculturali.it/"> 
      <img src="../images/header_ASRoma.jpg" width="638" height="59" border="0"><br>
      Torna al sito istituzionale</a> </div>

	
  <div id="menu"> 
    <ul>
      <li ><a href="../index.html">Home Imago</a></li>
      <li ><a href="../serie.html">Serie Imago</a></li>
      <li class="first"><a href="notarilia_intro.html">Disegni e Piante</a></li>
    </ul>
  </div>
	<div id="content" >
		
    <div id="ImageContent">
      
	
      </div>
    </div>

  <div id="primaryContentContainer" >

    <div id="primaryContent">
            <div id="LoadingScheda" ><img src='img/ajax-loader.gif'><br>Caricamento dati. Attendere...  </div>	

      
      
  
		
    </div>          
  </div>
</div>
		
		
    <div id="secondaryContent">
     <span id="Nascondi">Nascondi tutto</span> <span id="Mostra">Mostra tutto</span>
      <div id="LoadingLista" ><img src='img/ajax-loader.gif'><br>Caricamento dati. Attendere...  </div>
      
<div id="accordion" class="lista">
    <div class="level" id="listaPrincipale">
        
        </div><!--/.expanded-->
    </div><!--/.level-->
</div><!--/#accordion-->
       
    </div>
    
</div></div></body>
	
        <script src="js/vendor/jquery-1.10.1.min.js"></script>
	<script src="js/vendor/underscore.js"></script>
	<script src="js/vendor/jquery-ui-1.10.3.custom.js"></script>
	<script src="js/main.js"></script>
	<script type="text/javascript">
         
$( document ).ready(function() {

getListaMain();


});
	 
	</script>
</html>
